/* 376px */

@media (max-width: 376px) {

    /* section 1  */

    .cover {
        padding-inline: 24px;
        height: 240px;
    }

    h2 {
        font-size: 24px;
        line-height: 32px;
    }

    /* section 2 */
    h3 {
        font-size: 18px;
        line-height: 26px;
    }

    .main_text {
        font-size: 14px;
        line-height: 22px;
    }

    /* section 3  */

    .card_section {
        padding-block: 32px;
    }

    /* footer  */

    .footer {
        padding: 32px 24px;
        align-content: center;
    }

    .footer_logo{
        margin-inline: auto;
    }

    .footer_divss {
        column-gap: 10px;
    }

    .footer_div {

        width: 102.33px;
    }

    h5{
        text-align: center;
    }

    li{
        text-align: center;
    }
}