/* 376px */

@media (max-width: 376px) {

    /* section 1  */

    .cover {
        padding-inline: 24px;
        height: 240px;
    }

    h2 {
        font-size: 24px;
        line-height: 32px;
    }

    /* section 2 */
    h3 {
        font-size: 18px;
        line-height: 26px;
    }

    .main_text {
        font-size: 14px;
        line-height: 22px;
    }
}