/* 745px */

@media (max-width: 745px) {

    /* header  */
    header {
        padding-inline: 24px;
    }

    /* section 1  */

    .cover {
        padding-inline: 85px;
        height: 320px;
    }

    h2 {
        font-size: 36px;
        line-height: 44px;
    }

    /* section 2  */

    .section2 {
        padding: 24px;
    }

    .section2_text {
        flex-wrap: wrap;
        row-gap: 20px;
    }

    h3,
    .main_text {
        text-align: center;
    }

    /* section 3  */

    .card_section {
        padding: 40px 24px;
    }

    .cards {
        flex-direction: column;
        row-gap: 20px;
    }

    .individual_cards {
        align-items: center;
    }

    .individual_cards {
        text-align: center;
    }

    /* footer  */

    footer {
        flex-direction: column;
        row-gap: 32px;
        padding-block: 32px;
        padding-left: 24px;
    }

}


/* 625px */
@media (max-width: 625px) {
    /* header  */

    .header_nav {
        display: none;
    }

    .header_button {
        display: none;
    }

    .burger {
        display: block;
    }

}